# General
.env

# Node.js
/node_modules
/frontend/node_modules

# Next.js
/.next/
/out/
/frontend/.next

# Production Build
/build

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Miscellaneous
*.pyc

